body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #0CC0DF;
    border-radius: 10%;
    overflow: hidden;
}

#menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#menu a:hover {
    background-color: #555;
}

#contenido {
    padding: 20px;
}
