<!--
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Estadísticas</title>
    <link rel="stylesheet" href="menu.component.css">
</head>
<body>

   
<h1>Menú de Estadísticas</h1>

<div id="menu">
  <a routerLink="/a1">Media y Desviación Estándar</a>
  <a routerLink="/a2">Regresión Lineal y Correlación</a>
  <a routerLink="/a3">Simpson y T</a>
</div>

<div id="contenido">
  <router-outlet></router-outlet>
</div>

</body>
</html>

-->

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="menu.component.css">
  <title>Menú de Navegación</title>
</head>
<body>
  <div class="menu">
    <a href="https://firebasestorage.googleapis.com/v0/b/mycv-omar.appspot.com/o/BELL.png?alt=media&token=3289637f-2c2d-4bb2-a276-ac0d8dfb1565" class="opcion">
      <img src="https://firebasestorage.googleapis.com/v0/b/mycv-omar.appspot.com/o/HOME.png?alt=media&token=7fd6bda1-f16d-47b3-a1d1-cf5751f178f3" class="icono-notificaciones">
    </a>
    <a href="#" class="opcion">あ</a>
    <a href="#" class="opcion">ア</a>
    <a href="#" class="opcion">漢</a>
    <a href="https://firebasestorage.googleapis.com/v0/b/mycv-omar.appspot.com/o/BELL.png?alt=media&token=3289637f-2c2d-4bb2-a276-ac0d8dfb1565" class="opcion">
      <img src="https://firebasestorage.googleapis.com/v0/b/mycv-omar.appspot.com/o/BELL.png?alt=media&token=3289637f-2c2d-4bb2-a276-ac0d8dfb1565"  class="icono-notificaciones">
    </a>
  </div>
</body>
</html>
